<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WeekEnd</key>
	<array>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>value</key>
			<string>06:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>1</integer>
			<key>value</key>
			<string>07:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>2</integer>
			<key>value</key>
			<string>07:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>3</integer>
			<key>value</key>
			<string>08:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>4</integer>
			<key>value</key>
			<string>09:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>5</integer>
			<key>value</key>
			<string>10:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>6</integer>
			<key>value</key>
			<string>11:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>7</integer>
			<key>value</key>
			<string>12:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>8</integer>
			<key>value</key>
			<string>13:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>9</integer>
			<key>value</key>
			<string>14:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>10</integer>
			<key>value</key>
			<string>15:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>11</integer>
			<key>value</key>
			<string>16:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>12</integer>
			<key>value</key>
			<string>16:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>13</integer>
			<key>value</key>
			<string>17:40</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>14</integer>
			<key>value</key>
			<string>18:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>15</integer>
			<key>value</key>
			<string>19:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>16</integer>
			<key>value</key>
			<string>20:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>17</integer>
			<key>value</key>
			<string>21:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>value</key>
			<string>07:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>1</integer>
			<key>value</key>
			<string>08:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>2</integer>
			<key>value</key>
			<string>08:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>3</integer>
			<key>value</key>
			<string>09:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>4</integer>
			<key>value</key>
			<string>10:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>5</integer>
			<key>value</key>
			<string>10:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>6</integer>
			<key>value</key>
			<string>11:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>7</integer>
			<key>value</key>
			<string>12:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>8</integer>
			<key>value</key>
			<string>13:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>9</integer>
			<key>value</key>
			<string>16:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>10</integer>
			<key>value</key>
			<string>17:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>11</integer>
			<key>value</key>
			<string>18:30</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>12</integer>
			<key>value</key>
			<string>19:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>13</integer>
			<key>value</key>
			<string>20:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>14</integer>
			<key>value</key>
			<string>21:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>15</integer>
			<key>value</key>
			<string>22:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
	</array>
	<key>WeekDay</key>
	<array>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>value</key>
			<string>06:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>1</integer>
			<key>value</key>
			<string>06:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>2</integer>
			<key>value</key>
			<string>07:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>3</integer>
			<key>value</key>
			<string>07:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>4</integer>
			<key>value</key>
			<string>07:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>5</integer>
			<key>value</key>
			<string>08:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>6</integer>
			<key>value</key>
			<string>08:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>7</integer>
			<key>value</key>
			<string>08:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>8</integer>
			<key>value</key>
			<string>09:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>9</integer>
			<key>value</key>
			<string>09:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>10</integer>
			<key>value</key>
			<string>09:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>11</integer>
			<key>value</key>
			<string>10:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>12</integer>
			<key>value</key>
			<string>10:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>13</integer>
			<key>value</key>
			<string>10:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>14</integer>
			<key>value</key>
			<string>11:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>15</integer>
			<key>value</key>
			<string>12:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>16</integer>
			<key>value</key>
			<string>12:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>17</integer>
			<key>value</key>
			<string>13:40</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>18</integer>
			<key>value</key>
			<string>14:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>19</integer>
			<key>value</key>
			<string>15:20</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>20</integer>
			<key>value</key>
			<string>16:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>21</integer>
			<key>value</key>
			<string>16:20</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>22</integer>
			<key>value</key>
			<string>16:40</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>23</integer>
			<key>value</key>
			<string>17:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>24</integer>
			<key>value</key>
			<string>17:20</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>25</integer>
			<key>value</key>
			<string>18:10</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>26</integer>
			<key>value</key>
			<string>19:00</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>27</integer>
			<key>value</key>
			<string>19:50</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>28</integer>
			<key>value</key>
			<string>20:40</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>29</integer>
			<key>value</key>
			<string>21:30</string>
			<key>catagory</key>
			<string>0</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>0</integer>
			<key>value</key>
			<string>07:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>1</integer>
			<key>value</key>
			<string>07:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>2</integer>
			<key>value</key>
			<string>08:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>3</integer>
			<key>value</key>
			<string>08:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>4</integer>
			<key>value</key>
			<string>08:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>5</integer>
			<key>value</key>
			<string>09:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>6</integer>
			<key>value</key>
			<string>09:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>7</integer>
			<key>value</key>
			<string>09:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>8</integer>
			<key>value</key>
			<string>10:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>9</integer>
			<key>value</key>
			<string>10:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>10</integer>
			<key>value</key>
			<string>10:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>11</integer>
			<key>value</key>
			<string>11:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>12</integer>
			<key>value</key>
			<string>11:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>13</integer>
			<key>value</key>
			<string>11:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>14</integer>
			<key>value</key>
			<string>12:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>15</integer>
			<key>value</key>
			<string>12:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>16</integer>
			<key>value</key>
			<string>13:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>17</integer>
			<key>value</key>
			<string>14:30</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>18</integer>
			<key>value</key>
			<string>15:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>19</integer>
			<key>value</key>
			<string>16:10</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>20</integer>
			<key>value</key>
			<string>16:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>21</integer>
			<key>value</key>
			<string>17:10</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>22</integer>
			<key>value</key>
			<string>17:30</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>23</integer>
			<key>value</key>
			<string>17:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>24</integer>
			<key>value</key>
			<string>18:10</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>25</integer>
			<key>value</key>
			<string>19:00</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>26</integer>
			<key>value</key>
			<string>19:50</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>27</integer>
			<key>value</key>
			<string>20:40</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>28</integer>
			<key>value</key>
			<string>21:30</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
		<dict>
			<key>order</key>
			<integer>29</integer>
			<key>value</key>
			<string>22:20</string>
			<key>catagory</key>
			<string>1</string>
		</dict>
	</array>
</dict>
</plist>
