<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Semester Begins；Classes Begin for Second Summer Session；Application for Tuition Fee Loan Begins</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Drawing Application (for New Graduate Students)</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Returning Students</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Application (for Freshmen)</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Orientation for New students and Parents&apos; Day</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>National Grandparents Day</string>
			<key>startdate</key>
			<string>26</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Credit Transfer Application Begins</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
	</array>
	<key>9</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Credit Transfer</string>
			<key>startdate</key>
			<string>7</string>
			<key>enddate</key>
			<string>7</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Summer Vacation Ends ; Dormitory Opens</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Opens</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Physical Examination for New Graduate Students, New Graduate Students in the Professional Development Programs and Freshmen in the Evening Division ; Application Deadline for Tuition Fee Loan and Registration for Freshmen in the Evening Division and New Graduate Students in the Professional Development Programs ; Orientation for New Graduate Students in the Professional Development Programs and Freshmen in the Evening Division ; Minority Aid Application Begins</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration and Course Selection Workshop for New Graduate Students in the Day Division ; Application Deadline for Tuition Fee Loan for New Graduate Students in the Day Division ; Physical Examination for Freshmen in the Day Division</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration and Course Selection Workshop for Freshmen in the Day Division ; Application Deadline for Tuition Fee Loan for Freshmen</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Orientation for New Students in the Day Division ; Online Course Selection (Session Three) for 1011 (for Continuing Students) Begins ; Online Course Selection for Freshmen Begins</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Safety Education for New Students ; Orientation for New Students in the Day Division</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Day of Classes for All Students</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Continuing Students ; NTOU Scholarship Application Begins</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Continuing Students ; Application Deadline for Tuition Fee Loan (for Continuing Students) ; Application Deadline for Tuition Exemption or Reduction</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Late Registration for Students on Approved Leave on Registration Day</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection (Session Three) for 1011 Ends (for Continuing Students) ;Online Course Selection for Freshmen Ends</string>
			<key>startdate</key>
			<string>21</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Course Addition via Manpower and Application for Credit Overload</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Autumn Festival (No Deferred Holiday for National Holidays on Weekends)</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
	</array>
	<key>10</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Last Day of Confirmation of Online Course Selection Results</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Double-Tenth Day (Holiday) ; Minority Aid Application Ends</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>NTOU Scholarship Application Ends</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>59th Anniversary Celebration and Land Sports Meet Day (All Staff, Faculty and Students Attendance Required)</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Master&apos;s Degree Examination</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
	</array>
	<key>11</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Examination</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Due date for Credit Fees Payment</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Day of Entering Early Mid-Term Warnings</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Course Withdrawal Application</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Tuition Exemption or Reduction Application Begins</string>
			<key>startdate</key>
			<string>21</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Doctoral Degree Examination</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
	</array>
	<key>12</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Deadline for Entering Early Mid-Term Warnings</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Tuition Exemption or Reduction Application Ends</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1012 Begins (Session One)</string>
			<key>startdate</key>
			<string>7</string>
			<key>enddate</key>
			<string>7</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Minors and Double Majors Begins</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1012 Ends (Session One)</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Minors and Double Majors</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection Drawing (1012)</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>An Extended Holiday for Faculty and Staff</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>New Year&apos;s Day (Holiday)</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Tuition Fee Loan Begins</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1012 Begins (Session Two)</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1012 Ends (Session Two) ; Application Deadline for Suspension of Studies for 1011</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Final Exam</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Winter Vacation Begins ; Reserve Officer Exams in Late January</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Semester Ends ; Thesis/Dissertation Submission Deadline for Postgraduate Students</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
	</array>
	<key>2</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Begins</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Returning Students</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Partially Closed</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>An Extended Holiday for Faculty and Staff</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Fir</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Chinese New Year (Holiday)</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>An Extended Holiday for Faculty and Staff</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>15</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Winter Vacation Ends</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Classes Begin for All Students</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1012 (Session Three)</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Tuition Fee Loan</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Late Registration for Students on Approved Leave on Registration Day</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Course Addition via Manpower and Application for Credit Overload Begin</string>
			<key>startdate</key>
			<string>26</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Peace Memorial Day (Holiday)</string>
			<key>startdate</key>
			<string>28</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
	</array>
	<key>3</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Activities to Enhance Family Intimacy (An Extended Holiday for Faculty and Staff)</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>NTOU Scholarship Application Begins</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Course Addition via Manpower and Application Deadline for Credit Overload</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Fir</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Bed Reservation Application for Continuing Students</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Last Day of Confirmation of Online Course Selection Results</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>15</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Unified Chinese and English Proficiency Exam</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
	</array>
	<key>4</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>NTOU Scholarship Application Ends</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Children&apos; s Day and Tomb-Sweeping Festival (Holiday)</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Activities to Enhance Family Intimacy (An Extended Holiday for Faculty and Staff)</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Examination</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Due Date for Credit Fees Payment</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Master&apos; s Degree Examination</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Day of Entering Early Mid-Term Warnings ; Mid-Term Course Withdrawal Application Begins ; Application for Teacher Education Program Begins</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Department Transfer Application</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Drawing Application (for Continuing Students)</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Tuition Exemption or Reduction Application Begins</string>
			<key>startdate</key>
			<string>29</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
	</array>
	<key>5</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Change of Department Transfer</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Course Withdrawal Application Ends ; Application Deadline for Teacher Education Program</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Deadline for Entering Early Mid-Term Warnings</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Tuition Exemption or Reduction Application Ends</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1021 (Session One)</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for First Summer Session</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Department Transfer Exam</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Graduation Exam</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection Drawing</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>24</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Dormitory during Summer Vacation</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Water Sports Meet Day</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Thu</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Doctoral Degree Exam Ends</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
	</array>
	<key>6</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1021(Session Two)</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Commencement (Offices Open)</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dragon Boat Festival (Holiday)</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Suspension of Studies for 1012</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Final Exam</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Dormitory during Summer Vacation (for New Graduate Students)</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Summer Vacation Begins</string>
			<key>startdate</key>
			<string>23</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Closing</string>
			<key>startdate</key>
			<string>28</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Opens for Summer Residents</string>
			<key>startdate</key>
			<string>29</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
	</array>
	<key>7</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Classes Begin for First Summer Session；Second Semester Tuition Exemption or Reduction Application (Second Session) Begins</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Second Summer Session</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Bed Reservation Application for New Graduate Students</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>24</string>
			<key>startweek</key>
			<string>Thu</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Ends；Thesis/Dissertation Submission Deadline for Postgraduate Students</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
	</array>
</dict>
</plist>
