<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Semester Begins;Classes Begin for Second Summer Session;Application for Tuition Fee Loan Begins</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Drawing Application (for New Graduate Students)</string>
			<key>startdate</key>
			<string>7</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Returning Students</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Application (for Freshmen)</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Orientation for New students and Parents&apos; Day</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Credit Transfer Application Begins</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>National Grandparents Day</string>
			<key>startdate</key>
			<string>24</string>
			<key>enddate</key>
			<string>24</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
	</array>
	<key>9</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Orientation Week</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Summer Vacation Ends ; Dormitory Opens</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Opens</string>
			<key>startdate</key>
			<string>7</string>
			<key>enddate</key>
			<string>7</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Autumn Festival (Holiday)</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Physical Examination for Newly-admitted Students</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Reception and Registration for Newly-admitted Graduate Students in the Day Division ; Application Deadline for Tuition Fee Loan and Tuition Exemption or Reduction Application for Newly-admitted Graduate Students</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration and Course Selection Workshop for Newly-admitted Undergraduate Students in the Day Division ; Application Deadline for Tuition Fee Loan and Tuition Exemption or Reduction Application for Newly-admitted Undergraduate Students in the Day Division</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Safety Education for Newly-admitted Students</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Day of Classes for All Students</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Minority Aid Application Begins</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>15</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Continuing Students</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection (Session Three) for 1031 (for Continuing Students) Begins ; Online Course Selection for Newly-admitted Students Begins</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Deadline for Tuition Fee Loan and Tuition Exemption or Reduction Application</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Late Registration for Students on Approved Leave on Registration Day</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>NTOU Scholarship Application Begins</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Course Addition via Manpower and Application for Credit Overload Begins</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
	</array>
	<key>10</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Course Addition via Manpower and Application for Credit Overload Ends</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Five-Year Bachelor’s/Master’s Degree Program</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Double-Tenth Day (Holiday)</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Last Day of Confirmation of Online Course Selection Results;Minority Aid Application Ends</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>NTOU Scholarship Application Ends</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>61th Anniversary Celebration and Land Sports Meet Day</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
	</array>
	<key>11</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Examination</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>15</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Department Transfer Application</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Fei</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Due date for Credit Fees Payment</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Day of Entering Mid-Term Warnings ; Mid-Term Course Withdrawal Application Begins</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Tuition Exemption or Reduction Application Begins</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Master&apos;s Degree Examination and Doctoral Degree Examination</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
	</array>
	<key>12</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Deadline for Entering Mid-Term Warnings</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Course Withdrawal Application Ends</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Tuition Exemption or Reduction Application Ends</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1032 (Session One)</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Minors and Double Majors</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection Drawing (1032)</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Bed Reservation Application for Continuing Students</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>New Year&apos;s Day (Holiday)</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>A Deferred Holiday for 61th Anniversary Celebration</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>2</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Suspension of Studies for 1031</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1032 (Session Two)</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Final Exam</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Tuition Fee Loan Begins</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>15</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Winter Vacation Begins</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>First Semester Ends</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
	</array>
	<key>2</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Begins</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Thesis/Dissertation Submission Deadline for Postgraduate Students</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>2</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registartion for Returning Students</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registartion for Newly-adimitted students</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Partially Closed</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Chinese New Year (Holiday)</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Winter Vacation Ends</string>
			<key>startdate</key>
			<string>21</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Classes Begin for All Students;Online Course Selection for 1032 (Session Three) Begins</string>
			<key>startdate</key>
			<string>24</string>
			<key>enddate</key>
			<string>24</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration</string>
			<key>startdate</key>
			<string>24</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Tuition Fee Loan and Tuition Exemption or Reduction</string>
			<key>startdate</key>
			<string>25</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Late Registration for Students on Approved Leave on Registration Day</string>
			<key>startdate</key>
			<string>26</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>A Deferred Holiday for Peace Memorial Day</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Peace Memorial Day (Holiday)</string>
			<key>startdate</key>
			<string>28</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
	</array>
	<key>3</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Dormitory Drawing</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>NTOU Scholarship Application Begins</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>2</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1032 (Session Three) Ends</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>Fir</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Course Addition via Manpower and Application for Credit Overload</string>
			<key>startdate</key>
			<string>7</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Five-Year Bachelor’s/Master’s Degree Program</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Last Day of Confirmation of Online Course Selection Results</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
	</array>
	<key>4</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Activities to Enhance Family Intimacy (An Extended Holiday for Faculty and Staff;) NTOU Scholarship Application Ends</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>2</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>A Deferred Holiday for Children&apos; s Day</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Children&apos; s Day (Holiday)</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Tomb-Sweeping Festival</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Activities to Enhance Family Intimacy (An Extended Holiday for Faculty and Staff)</string>
			<key>startdate</key>
			<string>7</string>
			<key>enddate</key>
			<string>7</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Examination</string>
			<key>startdate</key>
			<string>21</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Department Transfer Begins</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Due Date for Credit Fees Payment</string>
			<key>startdate</key>
			<string>24</string>
			<key>enddate</key>
			<string>24</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Teacher Education Program Begins</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Course Withdrawal Application Begins</string>
			<key>startdate</key>
			<string>28</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Firefly Festival Begins</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
	</array>
	<key>5</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Department Transfer Ends</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Teacher Education Program Ends;Firefly Festival Ends</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Mid-Term Course Withdrawal Application Ends</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1041 (Session One)</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Minors and Double Majors ; Registration for First Summer Session</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Dormitory during Summer Vacation</string>
			<key>startdate</key>
			<string>25</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>Graduation Exam</string>
			<key>startdate</key>
			<string>26</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection Drawing (1041)</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>Wed</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Master&apos;s and Doctoral Degree Exam Ends</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
	</array>
	<key>6</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Water Sports Meet Day</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Online Course Selection for 1041(Session Two)</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Commencement (Offices Open)</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application for Dormitory during Summer Vacation (for New Graduate Students)</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>A Deferred Holiday for Commencement</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Thur</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>A Deferred Holiday for Dragon Boat Festival</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dragon Boat Festival</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sat</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Application Deadline for Suspension of Studies for 1032</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Final Exam</string>
			<key>startdate</key>
			<string>23</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Summer Vacation Begins</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>Tue</string>
			<key>endweek</key>
			<string>Tue</string>
		</dict>
	</array>
	<key>7</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Closing</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>Sat</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Dormitory Opens for Summer Residents</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>Sun</string>
			<key>endweek</key>
			<string>Sun</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Classes Begin for First Summer Session</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Mon</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Registration for Second Summer Session</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>Mon</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Bed Reservation Application for New Graduate Students</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>Thur</string>
			<key>endweek</key>
			<string>Wed</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>Second Semester Ends;Thesis/Dissertation Submission Deadline for Postgraduate Students</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>Fri</string>
			<key>endweek</key>
			<string>Fri</string>
		</dict>
	</array>
</dict>
</plist>
