<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>第一學期開始</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>103暑修第二期開始上課</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>就學貸款申辦開始日</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>研究所新生住宿電腦抽籤申請</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>復學生註冊</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>大學部新生住宿申請</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>祖父母節</string>
			<key>startdate</key>
			<string>23</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1041新生申請學分抵免</string>
			<key>startdate</key>
			<string>24</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學生宿舍開放</string>
			<key>startdate</key>
			<string>29</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
	</array>
	<key>9</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1041新生電腦選課</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>7</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>新生安全日</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>日間學制各班別新生體檢</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>2</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>日間學制大一新生入學典禮、品德知能施測調查、校園資源博覽會</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>日間學制研究所新生開學典禮、註冊、就學貸款申辦截止日、學雜費減免申辦截止日</string>
			<key>startdate</key>
			<string>3</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>日間學制學士班新生註冊、新生說明會、就學貸款申辦截止日、學雜費減免申辦截止日</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>進修學士班及碩專班新生體檢、註冊、新生說明會、就學貸款申辦截止日、學雜費減免申辦截止日</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>暑假結束</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>各學制學生開始上課</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>各學制舊生註冊</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1041 第三階段電腦選課</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>15</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>弱勢助學計畫申請</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>舊生就學貸款申辦截止日，各學制學雜費減免申辦截止日</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1041人工特殊加選及超修學分申請</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>校內獎學金申請</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>新生幹部研習</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>中秋節</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>中秋節補假</string>
			<key>startdate</key>
			<string>28</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>選課上網確認截止日</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
	</array>
	<key>10</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>國慶日補假</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>國慶日</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>陸上運動會</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>本校62週年校慶（全校正常上班上課）</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>五年一貫申請截止日</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>校慶補假1日</string>
			<key>startdate</key>
			<string>23</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
	</array>
	<key>11</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>期中考試</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學分費繳交截止日</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>期中預警輸入開始日</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>轉系申請</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>下學期學雜費第一階段先期減免申請</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>期中預警輸入截止日</string>
			<key>startdate</key>
			<string>25</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>1041期中退選</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>3</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>博碩士生學位考試申請截止日</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
	</array>
	<key>12</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042第一階段電腦選課</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042電腦選課抽籤作業</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>1042第二階段電腦選課</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>開國紀念日</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1041各學制申請休學截止日</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學期考試</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>寒假開始</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>13</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>就學貸款申辦開始日</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>15</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>教職員彈性休假</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>30</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>第一學期結束</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
	</array>
	<key>2</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>第二學期開始</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>研究生學位論文繳交截止日</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042輔系、雙主修申請</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>寒假期間部分宿舍關閉</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>教職員彈性休假</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>除夕暨春節假期</string>
			<key>startdate</key>
			<string>7</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>除夕補假</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>春節假期調整放假</string>
			<key>startdate</key>
			<string>12</string>
			<key>enddate</key>
			<string>12</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042新生申請學分抵免</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042新生電腦選課</string>
			<key>startdate</key>
			<string>15</string>
			<key>enddate</key>
			<string>19</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>復學生註冊</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>寒轉新生註冊及新生說明會</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>寒假結束</string>
			<key>startdate</key>
			<string>20</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>各學制學生開始上課</string>
			<key>startdate</key>
			<string>21</string>
			<key>enddate</key>
			<string>21</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>註冊</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042第三階段電腦選課</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>舊生床位保留申請</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>就學貸款申辦截止日，各學制學雜費減免申辦截止日</string>
			<key>startdate</key>
			<string>23</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>和平紀念日</string>
			<key>startdate</key>
			<string>28</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>和平紀念日補假</string>
			<key>startdate</key>
			<string>29</string>
			<key>enddate</key>
			<string>29</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
	</array>
	<key>3</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042 人工特殊加選及超修學分申請</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>7</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1032 校內獎學金申請</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>選課上網確認截止日</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>14</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>舊生住宿資格排名順位籤號申請</string>
			<key>startdate</key>
			<string>14</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
	</array>
	<key>4</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>敦親活動（教職員彈性休假，該日課程由教師自行擇期補課）</string>
			<key>startdate</key>
			<string>1</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>兒童節、民族掃墓節</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>兒童節補假</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>敦親活動（教職員彈性休假，該日課程由教師自行擇期補課）</string>
			<key>startdate</key>
			<string>6</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>五年一貫申請截止日</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>期中考試</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學分費繳交截止日</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>轉系申請</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>期中預警輸入開始日</string>
			<key>startdate</key>
			<string>25</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>教育學程申請</string>
			<key>startdate</key>
			<string>25</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>下學期學雜費先期減免申請</string>
			<key>startdate</key>
			<string>25</string>
			<key>enddate</key>
			<string>6</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
	</array>
	<key>5</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>期中預警輸入截止日</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042期中退選</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>16</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>104暑修第一期登記</string>
			<key>startdate</key>
			<string>16</string>
			<key>enddate</key>
			<string>20</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1051第一階段電腦選課</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>23</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>畢業生學期考試</string>
			<key>startdate</key>
			<string>22</string>
			<key>enddate</key>
			<string>28</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學生宿舍暑期住宿申請</string>
			<key>startdate</key>
			<string>23</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>yes</string>
			<key>value</key>
			<string>1051電腦選課抽籤作業</string>
			<key>startdate</key>
			<string>30</string>
			<key>enddate</key>
			<string>1</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>博碩士生學位考試申請截止日</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
	</array>
	<key>6</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>水上運動會</string>
			<key>startdate</key>
			<string>2</string>
			<key>enddate</key>
			<string>2</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>端午節調整放假補行上班</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>世界海洋日</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>三</string>
			<key>endweek</key>
			<string>三</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>端午節</string>
			<key>startdate</key>
			<string>9</string>
			<key>enddate</key>
			<string>9</string>
			<key>startweek</key>
			<string>四</string>
			<key>endweek</key>
			<string>四</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>端午節調整放假</string>
			<key>startdate</key>
			<string>10</string>
			<key>enddate</key>
			<string>10</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1051第二階段電腦選課</string>
			<key>startdate</key>
			<string>11</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>研究所新生暑期住宿申請</string>
			<key>startdate</key>
			<string>13</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>1042各學制申請休學截止日</string>
			<key>startdate</key>
			<string>17</string>
			<key>enddate</key>
			<string>17</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>畢業典禮（全校正常上班上課）</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>18</string>
			<key>startweek</key>
			<string>六</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學期考試</string>
			<key>startdate</key>
			<string>19</string>
			<key>enddate</key>
			<string>25</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>六</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>暑假開始</string>
			<key>startdate</key>
			<string>26</string>
			<key>enddate</key>
			<string>26</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學生宿舍關閉</string>
			<key>startdate</key>
			<string>26</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>暑期住宿宿舍開放</string>
			<key>startdate</key>
			<string>27</string>
			<key>enddate</key>
			<string>27</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
	</array>
	<key>7</key>
	<array>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>104暑修第一期開始上課</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>4</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>104暑修第二期登記</string>
			<key>startdate</key>
			<string>4</string>
			<key>enddate</key>
			<string>11</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>一</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>學雜費減免第二階段開放申請</string>
			<key>startdate</key>
			<string>5</string>
			<key>enddate</key>
			<string>5</string>
			<key>startweek</key>
			<string>二</string>
			<key>endweek</key>
			<string>二</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>畢業典禮補假1日</string>
			<key>startdate</key>
			<string>8</string>
			<key>enddate</key>
			<string>8</string>
			<key>startweek</key>
			<string>五</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>研究所新生床位保留申請</string>
			<key>startdate</key>
			<string>18</string>
			<key>enddate</key>
			<string>22</string>
			<key>startweek</key>
			<string>一</string>
			<key>endweek</key>
			<string>五</string>
		</dict>
		<dict>
			<key>cross</key>
			<string>no</string>
			<key>value</key>
			<string>第二學期結束</string>
			<key>startdate</key>
			<string>31</string>
			<key>enddate</key>
			<string>31</string>
			<key>startweek</key>
			<string>日</string>
			<key>endweek</key>
			<string>日</string>
		</dict>
	</array>
</dict>
</plist>
